# Secrets and API Keys
keys.cfg
.env
*.token

# Virtual Environments
venv/
eecs545-venv/
__pycache__/
*.pyc

# SWE-bench/Agent Artifacts
logs/
outputs/
trajs/
*.json

# Model Names and Info
google_ai_model_names.txt
google_ai_models.json
Remote-Models